body {
    background-image: url(img/fondo.png);
    min-height: 100vh;
    grid-template-columns: auto 1fr auto;

}

header {
    margin: auto;
    width: 100%;
    background: #F5F5F5;
    box-sizing: border-box;
}

.logo {
    padding: 1%;
    margin-left: 10px;
    width: 10%;

}

main {
    /*caja flexibles*/
    display: flex;
    /*margin-bottom: 5px;*/
    margin-left: 80px;
    padding: 2%;
}

.ingresar {
    color: #0A3871;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 40px;
    line-height: 28px;
    border: none;
    background: transparent;
    padding: 10% 2%;
}

::placeholder {
    color: #0A3871;
}

.ingresar:focus {
    outline: none;
}

.chico {
    display: block;
    height: 550px;
    border-radius: 32;
    margin: 1%;
    padding: 1%;
    margin-left: 10%;
    line-height: 28px;
    width: 300px;
    background: white;
    border: none;
    border-radius: 24px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.30);
}

.chico:focus {
    outline: none;
}

.chico img {
    padding-top: 80px;
    width: 260px;
    height: 225px;
}

#mensaje {
    background-repeat: no-repeat;
    border: none;
    color: #0A3871;
    margin-left: 9px;
    margin-top: 1%;
    padding: 1%;
    background: white;
    text-align: center;
    margin: 1%;
    width: 299px;
    height: 190px;
}

#mensaje::placeholder {
    text-align: center;
    background: white;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 40px;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

}

#mensaje:focus {
    outline: none;
}

#muñeco {
    background: white;
    margin-top: 10%;
}
.terminosCondiciones{
    margin: 30px;
}
.btn {
    display: flex;
    margin: 20px 0 1px 0;
    /* Espacio entre los botones */

}

.btn-encriptador {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 235px;
}

.btn-desencriptar {
    border-radius: 24px;
    cursor: pointer;
    background: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
    margin-left: 30px;
    height: 67px;
    width: 235px;
}

.copiar {
    display: none;
    text-align: center;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 235px;
    margin: 220px 35px ;
}

footer {
    background: #F5F5F5;
    text-align: center;
    width: 100%;

}

footer img {
    margin: 10px;
    width: 30px;
}

/*Pagina responsiva*/
@media screen and (max-width:480px) {
    header {
        width: 104%;
        background: #F5F5F5;
        text-align: center;

    }

    .logo {
        padding: 2%;
        width: 20%;
    }

    main {
        display: block;
        text-align: center;
        width: 98%;
        margin: 0;
    }

    .ingresar {
        margin: 0px;
        width: 100%;
        height: 250px;
    }

    .terminosCondiciones {
        text-align: start;
        width: 90%;
        margin: 0px;
    }

    .btn{
        display: block;
        width: 90%;
    }

    .btn-encriptador, .btn-desencriptar{
        width: 99%;
        margin-left: 15px;
        margin: 5px;

    }
    .chico {
        width: 95%;
        height: 100px;
        margin: 15px 1px;
        padding: 1px 5px;
        border-radius: 32px;
        background: white;
        height: 30%;
    }

    #muñeco{
        background: transparent;
    }
    .chico img {
        display: none;
    }

    #mensaje {
        width: 90%;
        height: 30%;
        background: transparent;
    }
    
    #mensaje::placeholder {
        text-align: center;
        font-size: 12px;
        line-height: 100px;
    }

    .copiar {
        position: relative;
        margin: auto;
        /*margin: 1px 2px 20px 90px;*/
    }
    footer{
        width: 104%;
    }
}

@media screen and (min-width: 481px) and (max-width:990px){
    header {
        width: 104%;
        background: #F5F5F5;
        text-align: center;
    
    }
    
    .logo {
        padding: 2%;
        width: 20%;
    }
    
    main {
        display: block;
        text-align: center;
        width: 98%;
        margin: 0;
    }
    
    .ingresar {
        margin: 0px;
        width: 100%;
        height: 250px;
    }
    
    .terminosCondiciones {
        text-align: start;
        width: 90%;
        margin-top: 50px;
        padding: 0px;
    }
    
    .btn {
        display: flex;
        width: 99%;
        text-align: center;
    }
    
    .btn-encriptador, .btn-desencriptar {
        width: 80%;
        margin-left: 15px;
        margin: 5px;
    
    }
    
    .chico {
        position: relative;
        width: 90%;
        height: 10px;
        margin: 30px 1px;
        margin-left: 20px;
        border-radius: 32px;
        background: white;
        height: 30%;
    }
    
    #muñeco {
        display: flex;
        background: transparent;
    }
    
    .chico img {
        display: none;
    }
    
    #mensaje {
        width: 99%;
        height: 15%;
        padding: 0 60px;
        background: transparent;
    }
    #mensaje::placeholder{
        font-family: 'Inter', sans-serif;
        font-size: 12px;            
        text-align: inherit;
        line-height: 100px;
    }
    
    .copiar {
        position: relative;
        margin: auto;
    }
    
    footer {
        width: 104%;
    }
}